body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('https://repository-images.githubusercontent.com/214671270/23f88b80-ed18-11e9-8a21-0a636b193f08');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header h1 {
    color: white;
}

header img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.1);
}

footer {
    text-align: right;
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.discord-button,
.youtube-button,
.donate-button,
.tool-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289DA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.youtube-button {
    background-color: #FF0000;
}

.donate-button {
    background-color: #32a852;
}

.tool-button {
    background-color: #333;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.tool-button::before {
    content: "\f06d";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    position: absolute;
    left: 10px;
}

.tool-button:hover {
    background-color: #FFA500;
    transform: translateY(-5px);
    border-color: #FFA500;
}

.center-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
}

.center-button a {
    display: inline-block;
    padding: 20px 40px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    position: relative;
}

.center-button a::before {
    content: "\f06d";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    position: absolute;
    left: 10px;
}

.center-button a:hover {
    background-color: #FFA500;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.tabs {
    position: absolute;
    top: 20px;
    right: 20px;
}

.tab {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
}

.tab:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFA500;
    bottom: -2px;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

.footer a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.footer a:hover {
    border-color: #FFA500;
}
